<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome Admin</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin transparent">
        <div class="row">
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Today Number of Stocks</p>
                <p class="fs-30 mb-2"><%= @total_stock_count %></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">Total Number of Scanned Stocks(%)</p>
                <p class="fs-30 mb-2"><%= @scanned_stocks %></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body">
                <p class="mb-4">Total Number of Missed Stocks(%)</p>
                <p class="fs-30 mb-2"><%= @missed_stocks %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-light-blue">
              <div class="card-body">
                <p class="mb-4">Total Number of Sold Stocks(%)</p>
                <p class="fs-30 mb-2"><%= @sold_stocks %></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body">
                <p class="mb-4">Category-Wise Stocks - Size(%)</p>
                <p class="fs-30 mb-2"><%= @size_wise_stocks %></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Category-Wise Stocks - Season(%)</p>
                <p class="fs-30 mb-2"><%= @season_wise_stocks %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
    <%# render partial: "layouts/footer" %>
  <!--  -->
  <!-- partial -->
</div>
<!-- main-panel ends -->