<div class="main-panel">
  <div class="content-wrapper">
    <!-- content start -->
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-6"><p class="card-title">Reset Password</p></div>
            </div>
            <%= form_with(url: '/update_new_password', method: :patch, class: "form-group", id:"resetPasswordForm", local: true) do |form| %>
              <div class="form-group">
                <label for="exampleInputName1">Current Password</label>
                <%= form.password_field :current_password, class: "form-control form-control-sm col-md-6", placeholder: "Current Password", autocomplete: "off"  %>
              </div>
              <div class="form-group">
                <label for="exampleInputName1">New Password</label>
                <%= form.password_field :password, class: "form-control form-control-sm col-md-6", placeholder: "New Password", autocomplete: "off"  %>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Confirm Password</label>
                <%= form.password_field :password_confirmation, class: "form-control form-control-sm col-md-6", placeholder: "Confirm New Password", autocomplete: "off"  %>
              </div>
              <button type="submit" id="resetPasswordSubmit" class="btn btn-primary mr-2">Submit</button>
              <%= link_to "Cancel", dashboard_path, :class => "btn btn-light" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../assets/reset-password.js"></script>