<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <%= render partial: "stock_count_tiles", :locals => {:total_count => stock_items.count, :with_rfid_count => stock_items.with_rfid.count, :without_rfid_count => stock_items.without_rfid.count} %>
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-6"><p class="card-title">Imported Data</p></div>
          <div class="col-md-6"><button class="btn btn-primary edit-import-data" style="float: right;">Edit</button><button class="btn btn-success save-import-data" style="float: right; margin-right: 10px; display: none;">Submit</button><button type="button" class="btn btn-danger delete-data-sheet" id="deleteDataSheet" style="float: right; margin-right: 10px;">Delete Data Sheet</button></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table id="imported_data" class="display expandable-table dataTable" style="width:100%">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Plant</th>
                    <th>Plant2</th>
                    <th>Plant3</th>
                    <th>Retek Class</th>
                    <th>Retek Subclass</th>
                    <th>Season</th>
                    <th>EAN</th>
                    <th>RFID Number</th>
                    <th>Size</th>
                    <th>Style Code</th>
                    <th>St.Loc</th>
                    <th>Variant</th>
                    <th>MRP</th>
                    <th>SOH blocked stock</th>
                    <th>SOH without blocked stock</th>
                    <th>SOH Qty.</th>
                    <th>Value</th>
                  </tr>
                </thead>

                <tbody>
                  <% stock_items && stock_items.each_with_index do | stock_item, index | %>
                  <tr class="<%= stock_item.rfid_number.present? ? 'table-success' : 'table-danger' %>">
                    <td><%= index + 1  %></td>
                    <td><%= stock_item.plant %></td>
                    <td><%= stock_item.plant2 %></td>
                    <td><%= stock_item.plant3 %></td>
                    <td><%= stock_item.retek_class %></td>
                    <td><%= stock_item.retek_subclass %></td>
                    <td><%= stock_item.season %></td>
                    <td><%= stock_item.ean_number %></td>
                    <td>
                      <span class="rfid_text"><%= stock_item.rfid_number %></span>
                      <span class="rfid_field" style="display: none;"><input type="text" name="rfid_number" style="width: 150px;" value="<%= stock_item.rfid_number %>" /><%= hidden_field_tag "stock_item_id", stock_item.id %></span>
                    </td>
                    <td><%= stock_item.variant_size %></td>
                    <td><%= stock_item.style_code %></td>
                    <td><%= stock_item.st_loc %></td>
                    <td><%= stock_item.variant %></td>
                    <td><%= stock_item.mrp %></td>
                    <td><%= stock_item.soh_blocked_stock %></td>
                    <td><%= stock_item.soh_without_blocked_stock %></td>
                    <td><%= stock_item.soh_quantity %></td>
                    <td><%= stock_item.soh_value %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #imported_data_wrapper .dataTables_paginate {
    margin-bottom: 20px;
    font-size: 14px;
  }
  #imported_data_info {
    float: left;
  }
  #imported_data_wrapper input[type= "text"],
  #imported_data_wrapper input[type= "search"] {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  #imported_data_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
  }
  #imported_data_wrapper .dataTables_paginate .paginate_button.current,#imported_data_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
  }
  #imported_data_wrapper .dataTables_paginate .paginate_button.disabled,#imported_data_wrapper .dataTables_paginate .paginate_button.disabled:hover,#imported_data_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
  }
  #imported_data_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #4B49AC;
    background-color: #4B49AC;
  }
  #imported_data_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow: inset 0 0 3px #111;
  }
</style>
<script>
$(document).ready(function(){
  var table = $('.dataTable').DataTable({
    pagingType: 'full_numbers',
    lengthChange: false,
    order: [[0, 'asc']],
    drawCallback: function(){
      if ($('.edit-import-data').is(":hidden")) {
        $(".rfid_field").show();
      }
    }
  });

  $(".edit-import-data").on('click', function() {
    if ($(this).text() == "Edit") {
      $(".rfid_field").show();
      $(".rfid_text").hide();
      $(".save-import-data").show();
      $(".edit-import-data").text("Hide");
    } else {
      $(".rfid_field").hide();
      $(".rfid_text").show();
      $(".save-import-data").hide();
      $(".edit-import-data").text("Edit");
    }
  })

  $('.save-import-data').on('click', function (e) {
    e.preventDefault();
    var rfid_values = [];
    var stock_item_ids = [];

    table.$('input[name="rfid_number"]').each(function () {
      rfid_values.push($(this).val());
    });
    table.$('input[name="stock_item_id"]').each(function () {
      stock_item_ids.push($(this).val());
    });

    $.ajax({
      type:'post',
      url:'/update_rfid_number',
      data: { authenticity_token: $('[name="csrf-token"]')[0].content, rfid_values: rfid_values, stock_item_ids: stock_item_ids},
      success: function(result) {
        if (result.message) {
          $("#total_stock_count").html(result.data.total);
          $("#with_rfid_count").html(result.data.with_rfid);
          $("#without_rfid_count").html(result.data.without_rfid);
          toastr.success(result.message);
          changeRowColor();
        }
      },
      failure: function(e) {
        console.log(e);
      }
    });
  });

  function changeRowColor() {
    var trs = table.$("tbody tr");
    trs.each(function() {
      var tr = $(this);
      if (tr.find('input[name="rfid_number"]').val() == "") {
        if (tr.hasClass("table-success")) {
          tr.removeClass("table-success");
          tr.addClass("table-danger");
        }
      } else {
        tr.find('span[class="rfid_text"]').html(tr.find('input[name="rfid_number"]').val())
        if (tr.hasClass("table-danger")) {
          tr.removeClass("table-danger");
          tr.addClass("table-success");
        }
      }
    })
  }

  $('#deleteDataSheet').on('click', function() {
    var status = confirm("Are you sure, you want delete recently imported data sheet?");
    if(status){
      $.ajax({
        type:'delete',
        url:'/delete_data_sheet',
        data: { authenticity_token: $('[name="csrf-token"]')[0].content },
        success: function(result) {
          if (result.message) {
            toastr.success(result.message);
            setTimeout(function() {
              window.location.reload();
            }, 1000);
          }
        },
        failure: function(e) {
          console.log(e);
        }
      });
    } else {
      return false;
    }
  });
})
</script>