<div class="main-panel">
  <div class="content-wrapper">
    <!-- <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Import Data Sheet</h3>
          </div>
        </div>
      </div>
    </div> -->
    <!-- content start -->
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Import Data Sheet</h4>
            <%= form_with(model: @data_sheet, class: "form-group", id:"importDataSheetForm", local: true) do |form| %>
              <%= form.hidden_field :sheet_name %>
              <%= form.hidden_field :imported_by, value: current_user.id %>
              <div class="form-group">
                <label>Upload sheets only of type .xlsx only</label>
                <%= form.file_field :file, class: "file-upload-default" %>
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Data Sheet">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                  </span>
                </div>
              </div>
              <button type="submit" id="dataSheetSubmit" class="btn btn-primary mr-2">Submit</button>
              <input type="button" id="dataSheetCancel" class="btn btn-light" value="Cancel" />
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if DataSheet.active.last.present? && DataSheet.active.last.stock_items.present? %>
      <%= render partial: "imported_data", :locals => {:stock_items => DataSheet.active.last.stock_items.active.order(id: :desc)} %>
    <% end %>
    <%= render partial: "add_stock_modal" %>
    <!-- content ends -->
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
    <%# render partial: "layouts/footer" %>
  <!-- partial -->
</div>
<!-- main-panel ends -->
<style>
.error {
  color: red;
}
</style>
<script src="../assets/modules/file-upload.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
  $("form#importDataSheetForm").validate({
    rules: {
      'data_sheet[file]': {
        checkFile: true
      }
    },
    errorPlacement: function (error, element) {
      error.insertAfter('.input-group')
    }
  });
  $.validator.addMethod('checkFile', (function(value, element) {
    var file = $("#data_sheet_file")[0].files[0];
    if (file) {
      var fileType = file["type"];
      var fileName = file["name"];
      $("#data_sheet_sheet_name").val(fileName);
      var validFileTypes = ["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"];
      if ($.inArray(fileType, validFileTypes) !== -1) {
        return true;
      } else {
        return false;
      }
    } else {
      return false;
    }
  }), 'Please upload only files of type (.xlsx).');

  $("#dataSheetSubmit").on("click", function() {
    if($('form#importDataSheetForm').valid()) {
      return true;
    } else {
      return false;
    }
  });

  $("#dataSheetCancel").on("click", function() {
    $("#data_sheet_file").val('');
    $('#importDataSheetForm .file-upload-info').val('');
  });

  $("#data_sheet_file").on("change", function(e) {
    var files = e.target.files;
  })

});
</script>
