<div class="main-panel">
  <div class="content-wrapper">
    <!-- <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Sheet Management</h3>
          </div>
        </div>
      </div>
    </div> -->
    <!-- content start -->
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Sheet Management</p>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="sheet_management" class="display expandable-table dataTable" style="width:100%">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Data sheet</th>
                        <th>Total no. of missed items</th>
                        <th>Total no. of sold items</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @data_sheets && @data_sheets.each do | data_sheet | %>
                        <tr>
                          <td><%= data_sheet.created_at.to_date.strftime("%d-%m-%Y") %></td>
                          <td><%= link_to data_sheet.sheet_name, '/download_sheet/'+data_sheet.id.to_s %></td>
                          <td><%= data_sheet.stock_items.count - (data_sheet.stock_items.scanned.count + data_sheet.stock_items.sold.count) %></td>
                          <td><%= data_sheet.stock_items.sold.count %></td>
                          <td class="text-center"><%= link_to '/delete_sheet/' + data_sheet.id.to_s, class: "pl-2 delete-sheet #{data_sheet.active_stocks_present? ? 'd-none' : ''}" do %><i class="ti-trash" style="font-size: 17px;"></i><% end %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content ends -->
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
    <%# render partial: "layouts/footer" %>
  <!-- partial -->
</div>
<!-- main-panel ends -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
  $('.dataTable').DataTable({
    pagingType: 'full_numbers',
    lengthChange: false,
    order: [[0, 'desc']],
    "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 4 ] },
        { "bSearchable": false, "aTargets": [ 4 ] }
    ]
  });

  $('.delete-sheet').on('click', function(e) {
    var url = this.href;
    var status = confirm("Are you sure, you want delete this data sheet?");
    if(status){
      e.preventDefault();
      $.ajax({
        type:'delete',
        url: url,
        data: { authenticity_token: $('[name="csrf-token"]')[0].content },
        success: function(result) {
          if (result.message) {
            toastr.success(result.message);
            setTimeout(function() {
              window.location.reload();
            }, 1000);
          }
        },
        failure: function(e) {
          console.log(e);
        }
      });
    } else {
      return false;
    }
  })
})
</script>