<div class="main-panel">
  <div class="content-wrapper">
    <!-- <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">User Management</h3>
          </div>
        </div>
      </div>
    </div> -->
    <!-- content start -->
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-6"><p class="card-title">User Management</p></div>
              <div class="col-md-6"><%= link_to "Create New Manager", new_manager_path,
              :class => "btn btn-primary float-right" %></div>
            </div>
            <div class="row">
              <div class="col-12">
                <% flash.each do |key, value| %>
                  <% alert_class = (key == "notice") ? 'alert-success' : 'alert-danger' %>
                  <%= content_tag :div, value, class: "alert #{alert_class} alert-dismissible fade show" %>
                <% end %>
                <div class="table-responsive">
                  <table id="users_list" class="display expandable-table dataTable" style="width:100%">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email ID</th>
                        <th>Created At</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @managers && @managers.each do | manager | %>
                        <tr>
                          <td><%= manager.first_name %></td>
                          <td><%= manager.last_name %></td>
                          <td><%= manager.email %></td>
                          <td><%= manager.created_at.to_date.strftime("%d-%m-%Y") %></td>
                          <td class="text-center"><%= link_to edit_manager_path(manager) do %><i class="ti-pencil-alt" style="font-size: 17px;"></i><% end %></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content ends -->
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
    <%# render partial: "layouts/footer" %>
  <!-- partial -->
</div>
<!-- main-panel ends -->
<style>
#users_list_filter input[type= "search"] {
  width: 75% !important;
}
#users_list_wrapper .dataTables_paginate {
  margin-bottom: 20px;
  font-size: 14px;
}
#users_list_wrapper a {
  text-decoration: none;
}
#users_list_info {
  float: left;
}
#users_list_wrapper input[type= "search"] {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#users_list_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
#users_list_wrapper .dataTables_paginate .paginate_button.current,#users_list_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
#users_list_wrapper .dataTables_paginate .paginate_button.disabled,#users_list_wrapper .dataTables_paginate .paginate_button.disabled:hover,#users_list_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
#users_list_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #4B49AC;
  background-color: #4B49AC;
}
#users_list_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  box-shadow: inset 0 0 3px #111;
}
</style>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
  $('.dataTable').DataTable({
    pagingType: 'full_numbers',
    lengthChange: false,
    order: [[3, 'desc']],
    "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 4 ] },
        { "bSearchable": false, "aTargets": [ 4 ] }
    ]
  });
})
</script>