<div class="main-panel">
  <div class="content-wrapper">
    <!-- <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">User Management</h3>
          </div>
        </div>
      </div>
    </div> -->
    <!-- content start -->
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-md-6"><p class="card-title">User Management</p></div>
              <div class="col-md-6"><%= link_to "Create New Manager", new_manager_path,
              :class => "btn btn-primary float-right" %></div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="users_list" class="display expandable-table dataTable" style="width:100%">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email ID</th>
                        <th>Created At</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @managers && @managers.each do | manager | %>
                        <tr>
                          <td><%= manager.first_name %></td>
                          <td><%= manager.last_name %></td>
                          <td><%= manager.email %></td>
                          <td><%= manager.created_at.to_date.strftime("%d-%m-%Y") %></td>
                          <td class="text-center"><%= link_to edit_manager_path(manager) do %><i class="ti-pencil-alt" style="font-size: 17px;"></i><% end %></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content ends -->
  </div>
  <!-- content-wrapper ends -->
</div>
<!-- main-panel ends -->
<script src="../assets/manager.js"></script>