<!DOCTYPE html>
<html>
  <head>
    <title>Retail Inventory Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <div id="flashData" style="display: none;"><%= flash.any? ? flash.to_json : [] %></div>
  </body>
</html>
